[submodule "PokerBot-DeepStack-Leduc"]
	path = PokerBot-DeepStack-Leduc
	url = ../PokerBot-DeepStack-Leduc.git
[submodule "PokerBot-rlcard"]
	path = PokerBot-rlcard
	url = ../PokerBot-rlcard.git
[submodule "PokerBot-rlcard-showdown"]
	path = PokerBot-rlcard-showdown
	url = ../PokerBot-rlcard-showdown.git
